services:
  web-nginx:
    build: 
      context: .
      network: host 
    container_name: web-nginx
    restart: always
    ports:
      - "8081:80"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro