services:
  nginx:
    build:
      context: .
      network: host  # This tells the builder to use the host's DNS/Network
    container_name: web-nginx
    restart: unless-stopped
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - web-network

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: web-tunnel
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    env_file: .env
    networks:
      - web-network

networks:
  web-network:
    driver: bridge
