services:
  web-nginx:
    build: 
      context: .
      # Use host network for DNS resolution during the build stage (npm install)
      network: host 
    container_name: web-nginx
    restart: always
    ports:
      - "80:80"
    # Link your local Nginx config for routing
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro