version: '3.8'

services:
  portfolio-web:
    build: .
    container_name: portfolio-web
    network_mode: "host"
    environment:
      - INFLUX_URL=${INFLUX_URL}
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_ORG=${INFLUX_ORG}
      - INFLUX_BUCKET=${INFLUX_BUCKET}
      - RADAR_IP=${RADAR_IP}
    restart: always

  radar-ingest:
    build: .
    container_name: radar-ingest
    command: python ingest.py
    network_mode: "host"
    environment:
      - INFLUX_URL=${INFLUX_URL}
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_ORG=${INFLUX_ORG}
      - INFLUX_BUCKET=${INFLUX_BUCKET}
      - RADAR_IP=${RADAR_IP}
    restart: always