# Add this block at the top
mqtt:
  enabled: False

detectors:
  ov:
    type: openvino
    device: GPU

cameras:
  intersection:
    ffmpeg:
      inputs:
        - path: rtsp://{FRIGATE_CAMERA_USER}:{FRIGATE_CAMERA_PASS}@{FRIGATE_CAMERA_IP}:554/cam/realmonitor?channel=4&subtype=0
          roles:
            - detect
    detect:
      enabled: True
      width: 1280
      height: 720
      fps: 5
    objects:
      track:
        - car
        - motorcycle
    record:
      enabled: False
    snapshots:
      enabled: False