mqtt:
  enabled: False

go2rtc:
  streams:
    intersection:
      - rtsp://{FRIGATE_CAMERA_USER}:{FRIGATE_CAMERA_PASS}@{FRIGATE_CAMERA_IP}:554/cam/realmonitor?channel=4&subtype=0 # High Res
      - "ffmpeg:intersection#video=h264#hardware=vaapi" # Hardware acceleration fix

detectors:
  ov:
    type: openvino
    device: GPU

cameras:
  intersection:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/intersection
          roles:
            - detect
    detect:
      enabled: True
      width: 1280
      height: 720
      fps: 10 # Detection at 10fps is standard; visual stream will be native 25fps.
    objects:
      track:
        - car
        - motorcycle
    record:
      enabled: False
    snapshots:
      enabled: False

# Global Hardware Acceleration
ffmpeg:
  hwaccel_args: preset-vaapi