name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  test:
    name: Build Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install & Build
        run: |
          npm install
          npm run build

  deploy:
    name: Production Deployment
    needs: test
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Link Environment File
        run: |
          ln -sf /home/sooryah/sooryah-web/.env .env

      - name: Local Docker Deploy
        run: |
          # We force the project name so it replaces your manual 'sooryah-web' containers
          docker compose -p sooryah-web up -d --build --force-recreate --remove-orphans
          
      - name: Cleanup Stale Layers
        run: |
          # This clears the internal Docker cache to ensure the next pull is 100% fresh
          docker image prune -f